<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
<h2>HTML Table</h2>
<div align="center">
<table>
  <tr>
    <th>Nama Transaksi</th>
    <th>Total Tagihan</th>
    <th>Deadline Transaksi</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% data.forEach(transaksi => { %>
    <tr>
      <td><%=transaksi.Transaction.name%></td>
      <td><%=transaksi.bill%></td>
      <td><%=transaksi.Transaction.deadline%></td>
      <td><%=transaksi.status%></td>
      <% if(transaksi.status == 'pending') { %>
        <td><a href="<%=transaksi.id%>/aktif"> ya, saya ngutang</a> </td>
     <% } else if(transaksi.status == 'active') { %>
        <td><a href="<%=transaksi.id%>/bayar"> bayar </a> </td>
      <%} else { %>
        <td>bebas hutang</td>
     <% }%>
    </tr>
  <%})%>
</table>
</div>
</body>

</html>